.shipBackground {
    width: 100vw;
      height: 100vh;
      background-color: rgba(1, 10, 6, 0.2);
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .shipContainer {
      width: 400px;
      height: auto; 
      border-radius: 12px;
      background-color:rgb(237, 222, 155);
      box-shadow: rgba(78, 13, 27, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
    
    .shipContainer {
      display: inline-block;
      text-align: center;
    }

    .shipContainer .heading{
      font-size: 30px;
      font-weight:800;
      font-style:oblique;
      padding: 20px;
      margin-top: 20px;
    }

    .shipContainer .ship {
      display: inline-block;
      text-align: center;
      font-size: large;
      font-weight: 700;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:blueviolet;
      margin: 10px;
      margin-bottom: 15px;
    }
    
    .shipContainer .body {
      flex: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-size: 1.7rem;
      text-align: center;
    }

    .shipContainer .body input{
      padding: 2px;
      color:brown;
      margin: 3px;
      margin-bottom: 0px;
    }

    .shipContainer .body select{
      padding: 5px;
      background-color: darkgrey;
      margin: 3px;
      color: maroon;
      border-radius: 5px;
    }

    .shipContainer .body p{
      padding: 2px;
      margin: 8px;
    }

    .shipContainer .body button{
      width: 100px;
      height: 35px;
      margin-top: 30px;
      margin: 20px;
      border: 2px solid black;
      background-color: cornflowerblue;
      color: rgb(0, 0, 0);
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: 500ms;
    }
    .shipContainer .body button:hover{
      color:cornflowerblue;
      background-color: rgb(0, 0, 0);
      transform: scale(1.05);
      box-shadow: 0 12px 16px 0 cornflowerblue,0 17px 50px 0 cornflowerblue;
    }
    
    .shipContainer .footer {
      flex: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .shipContainer .footer button {
      width: 100px;
      height: 35px;
      margin-top: 30px;
      margin: 20px;
      border: 2px solid black;
      background-color: cornflowerblue;
      color: rgb(0, 0, 0);
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: 500ms;
    }
    .shipContainer .footer button:hover{
      color:cornflowerblue;
      background-color: rgb(0, 0, 0);
      transform: scale(1.05);
      box-shadow: 0 12px 16px 0 cornflowerblue,0 17px 50px 0 cornflowerblue;
    }
    
    #cancelBtn {
      background-color: crimson;
    }

    .address {
        display: block;
        margin: auto;
        height: 30px;
        width: 330px;
        text-align: center;
    }
    
    input[type="text"]:focus {
      background-color: lightblue;
    }